<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "become a teacher", new_studio_path %>


<h1> Studios </h1>

<% @studios.each do |studio| %>
<h1>Studio name: <%= studio.name %></h1>
courses:
<% studio.courses.each do |course| %>
<%= link_to course.name, course_path(course) %>

<h2>Course name :<%= course.name %> of studio <%=studio.name%></h2>


<%end%>
<% end%>
