<h1>Dashboard::Dashboard#index</h1>
<p>Find me in app/views/dashboard/dashboard/index.html.erb</p>



<%= link_to "become a teacher", new_studio_path %>
------------
<% if student_signed_in? %>
<p>im a student <%=current_user.class%></p>
<%end%>

<% if manager_signed_in? %>
<p>im a manager <%=current_user.class%></p>
<%end%>
<%raise%>

<h1> Studios </h1>
<% @studios.each do |studio| %>
<h1>Studio name: <%= studio.name %></h1>
courses:
<% studio.courses.each do |course| %>
<%= link_to course.name, course_path(course) %>

<h2>Course name :<%= course.name %> of studio <%=studio.name%></h2>


<%end%>
<% end%>
