<h1>Courses#show</h1>
<p>Find me in app/views/courses/show.html.erb</p>

<%= @course.name %>

<h2>
  <%= pluralize @course.reviews.size, "Review" %>
</h2>


<% if @course.reviews.blank? %>
  <%= "be the first to leave a review" %>
  <% else %>
    <% @course.reviews.each do |review| %>
    <%= render 'reviews/show', review: review  %>
  <%end%>
<%end%>
x

<%= render 'reviews/form', course: @course, review: @review %>
